<% include ../include/header %>

<section id="center_page_section">
  <div class="centerPageHeader" id="center_body_header" >
    أدخل معلومات الدفعة

  </div><!-- #center_body_header -->

  <div class="block_body"  id="center_body_body">




  <form method="post" >
<div class="form-group">
                    <label>users_id</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-list-ol"></i>
                      </div>
                      
                      <input type="integer" class="form-control  input-sm" name="users_id"  value="<%=values.users_id;%>"  placeholder="users_id"id="users_id"  />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><div class="form-group">
                      <label>type</label>
                      <select type="select" class="form-control  input-sm" name="type"  id="type" ><% var charge_account_type=arrays("charge_account","type");%>
    <% for(var key in charge_account_type){%>
        <option value="<%=key;%>"><%=charge_account_type[key];%></option>
                          <% } %> </select>
                    </div><div class="form-group">
                    <label>amount</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-list-ol"></i>
                      </div>
                      
                      <input type="number" class="form-control  input-sm" name="amount"  value="<%=values.amount;%>"  placeholder="amount"id="amount"  />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><div class="form-group">
                    <label>transfer_number</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                      
                      <input type="text" class="form-control  input-sm" name="transfer_number"  value="<%=values.transfer_number;%>"  placeholder="transfer_number"id="transfer_number"  />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><div class="form-group">
                    <label>charger_name</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                      
                      <input type="text" class="form-control  input-sm" name="charger_name"  value="<%=values.charger_name;%>"  placeholder="charger_name"id="charger_name"  />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><div class="form-group">
                    <label>exchange_address</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-pencil"></i>
                      </div>
                      
                      <input type="text" class="form-control  input-sm" name="exchange_address"  value="<%=values.exchange_address;%>"  placeholder="exchange_address"id="exchange_address"  />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><label>extra_details</label>
                 <div class="form-group">


                      <textarea type="textarea" class="form-control  input-sm" name="extra_details"  placeholder="extra_details"id="extra_details"  style="height:150px;" ><%=values.extra_details;%> </textarea>

                  </div><!-- /.form group --><div class="form-group">
                      <label>status</label>
                      <select type="select" class="form-control  input-sm" name="status"  id="status" ><% var charge_account_status=arrays("charge_account","status");%>
    <% for(var key in charge_account_status){%>
        <option value="<%=key;%>"><%=charge_account_status[key];%></option>
                          <% } %> </select>
                    </div><div class="form-group">
                    <label>date</label>
                    <div class="input-group">
                                
                      <div class="input-group-addon">
                        <i class="fa fa-fw fa-calendar-o"></i>
                      </div>
                      
                      <input type="text" class="form-control  input-sm" name="date"  value="<%=values.date;%>"  placeholder="date"id="date" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask />
                    </div><!-- /.input group -->
                  </div><!-- /.form group --><div class="box-footer"></div>
  <input type="submit" value="create">
</form>


<script>$("[data-mask]").inputmask();$("[data-mask]").inputmask();$("[data-mask]").inputmask();$("#date").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});</script>
<% include ../include/footer %>
